<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_NhaTroConnectionString"
            connectionString="Data Source=LAPTOP-85VQT4K5\SQLEXPRESS05;Initial Catalog=QL_NhaTro;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QL_NhaTroConnectionString1"
            connectionString="Data Source=LAPTOP-85VQT4K5\SQLEXPRESS05;Initial Catalog=QL_NhaTro;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>